/* Agencia.css */

.container {
    width: 70%;
    margin: auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #555;
    font-weight: normal;
}

.section {
    margin-bottom: 20px;
}

.highlight {
    font-weight: bold;
}

.section-title {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

ul li:before {
    content: "•";
    margin-right: 5px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
