/* src/pages/Stages.css */

.container-full {
    width: 100%;
    padding: 2rem;
    background-color: #f0ece2; /* Fondo predeterminado */
  }
  
  h1 {
    color: #333;
  }
  
  .stage-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #eae7dc; /* Mantener el color predeterminado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para efecto flotante */
    border-radius: 8px;
  }
  
  .stage-link, .stage-button {
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 12px 24px;
    margin: 0 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .stage-link {
    background-color: #4299e1;
    color: #fff;
    text-decoration: none;
  }
  
  .stage-link:hover {
    background-color: #3182ce;
    transform: translateY(-2px);
  }
  
  .stage-button {
    background-color: #a0aec0;
    color: #fff;
    cursor: not-allowed;
  }
  
  .stage-button:disabled {
    background-color: #cbd5e0;
  }
  